// ------> Colors <------

$primary-color: #ff7404;
$text-color-w: #fff;
$text-color-b: #000;
$text-color-g: #808080;

// ------> Font Size <------

$text-title: 50px;
$text-paragraph: 15px;

// ------> Transition <------

$transition: all .5s ease;